body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
} /* Container Principal, aqui vamos configurar o layout principal para o conteúdo central */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #e50914;
    margin-bottom: 30px;
    padding-bottom: 10px;
} 


nav {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
} 

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

nav a:hover {
    color: #e50914;
} /* Cabeçalho e Navegação, aqui vamos configurar o cabeçalho e a navegação do site */


.hero {
    background-color: #1a1a1a;
    color: white;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.img-hero {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    margin-bottom: 20px;
} /* Hero Section (Página Inicial), aqui criamos o hero section para melhorar a apresentação sem necessidade de repetição */


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
} 
th {
    background-color: #e50914;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
} /* Tabelas (Sessões) */



form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #e50914;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #b20710;
} /* Formulários (Contacto) acho que já sabemos do que é haha */